{% extends 'base.html.twig' %}




{% block title %}Homepage{% endblock %}

{% block nickname %} NameNick99 {% endblock %}

{% block content %}

<div id="padding" >
    <div id="filmOutbox">
        <div id="filmInbox">
            <img id="filmsaf" src="{{ asset('img/filmsaf.png') }}" alt="" >
        </div>
        
            <p>Name of the film taht i want to see next yera in june </p>
        
    </div>
</div>

<div id="padding" >
    <div id="filmOutbox">
        <div id="filmInbox">
        <img id="filmsaf" src="{{ asset('img/filmsaf.png') }}" alt="" >
        </div>
        
            <p>Name of the film taht i want to see next yera in june </p>
        
    </div>
</div>


<div id="padding" >
    <div id="filmOutbox">
        <div id="filmInbox">
        <img id="filmsaf" src="{{ asset('img/filmsaf.png') }}" alt="" >
        </div>
        
            <p>Name of the film taht i want to see next yera in june </p>
        
    </div>
</div>


<div id="padding" >
    <div id="filmOutbox">
        <div id="filmInbox">
        </div>
        
            <p>Name of the film taht i want to see next yera in june </p>
        
    </div>
</div>


<div id="padding" >
    <div id="filmOutbox">
        <div id="filmInbox">
        </div>
        
            <p>Name of the film taht i want to see next yera in june </p>
        
    </div>
</div>

{% endblock %}


